[Unit]
Description=Salebot ↔ amoCRM Integration API (egeland)
After=network.target

[Service]
User=ubuntu
Group=ubuntu

WorkingDirectory=/home/ubuntu/salebot_telegram_egeland/current

ExecStart=/home/ubuntu/.cache/pypoetry/virtualenvs/salebot-telegram-egeland-WxobCIUq-py3.12/bin/uvicorn app.main:app --host 0.0.0.0 --port 8024 --workers 1

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
